@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap");
body {
  position: relative;
  background-image: url("../img/background 121.png");
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
  overflow-x: hidden;
  height: 100%;
}

.navbar {
  padding: 1em;
}

.navbar .logo {
  color: antiquewhite;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5em;
}

.navbar .logo span {
  color: #f00d0d;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #0bdf8e;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.center {
  margin: 15px;
  padding: 0px;
}

.center .center-left {
  padding: 2px;
}

.center .new {
  font-family: 'Alkalami', serif;
  text-align: center;
  font-size: 25px;
}

.center .virtual {
  font-family: 'Alkalami', serif;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Passion One', cursive;
}

.center .buy {
  padding-top: 20px;
  font-family: 'Catamaran', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.center .buy img {
  width: 15px;
  height: 15px;
}

.center .center-middle img {
  padding-top: 26px;
  width: 15em;
  minheight: 15rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 5px solid white;
}

.center .center-right {
  padding: 10px;
}

.center .center-right .discount {
  font-weight: bold;
}

.down {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.down .youtube {
  padding-left: 25px;
}

.down .youtube a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.down .youtube a:hover {
  color: white;
}

.down .youtube a:active {
  color: #0400ff;
}

.down .icon {
  padding-top: 15px;
  padding-left: 20px;
}

.down .icon img {
  height: 25px;
  width: 25x;
  padding-right: 5px;
}

@media only screen and (min-width: 375px) {
  .down {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .down .youtube {
    padding-left: 25px;
  }
  .down .youtube a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .down .youtube a:hover {
    color: white;
  }
  .down .youtube a:active {
    color: #0400ff;
  }
  .down .icon {
    padding-top: 15px;
    padding-left: 70px;
  }
  .down .icon img {
    height: 25px;
    width: 25x;
    padding-right: 5px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .logo {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2em;
  }
  .logo span {
    color: #f00d0d;
  }
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar nav {
    display: -ms-grid;
    display: grid;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .secondary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  li {
    list-style-type: none;
  }
  li a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: .1em 1em;
    font-weight: bold;
  }
  li a:hover {
    -webkit-text-decoration: solid;
            text-decoration: solid;
    color: #0bdf8e;
  }
  .log-in {
    color: white;
    border: 3px solid white;
    padding: .3em;
    border-radius: .6em;
  }
  .log-in:hover {
    background-color: #7a73b9;
    color: white;
  }
  .center {
    margin: 15px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .center .center-left {
    padding: 0px;
  }
  .center .new {
    font-family: 'Alkalami', serif;
    text-align: left;
    font-size: 25px;
    padding-top: 70px;
    padding-left: 15px;
  }
  .center .virtual {
    font-family: 'Alkalami', serif;
    text-align: left;
    font-size: 60px;
    line-height: 50px;
    padding-left: 15px;
    font-family: 'Passion One', cursive;
  }
  .center .buy {
    padding-top: 10px;
    font-family: 'Catamaran', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    font-size: 20px;
  }
  .center .buy img {
    padding-left: 5px;
    width: 15px;
    height: 15px;
  }
  .center .center-middle img {
    position: absolute;
    padding-left: 0px;
    padding-top: 60px;
    min-width: 30em;
    min-height: 30em;
    left: 30%;
    border: 0px;
  }
  .center .center-right {
    padding: 0px;
    padding-top: 130px;
  }
  .center .center-right .discount {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
  }
  .center .center-right .lorem {
    font-size: 13px;
    text-align: right;
    padding-left: 200px;
  }
  .down {
    position: absolute;
    top: 120%;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .down .youtube {
    padding-left: 0px;
  }
  .down .youtube a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  .down .youtube a:hover {
    color: white;
  }
  .down .youtube a:active {
    color: #0400ff;
  }
  .down .icon {
    padding-top: 20px;
    padding-left: 460px;
  }
  .down .icon img {
    height: 20px;
    width: 20px;
    padding-right: 5px;
  }
}
/*# sourceMappingURL=index.css.map */